<section class="bg-primary">
	<div class="px-8 2xl:max-w-7xl mx-auto py-6">
		<div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
			<p
			class="text-base lg:col-start-1 leading-relaxed font-light italic"
			data-aos="fade-up"
			data-aos-duration="2000"
			>
				Last updated: December 28th, 2024
			</p>
			<p
				class="text-base lg:col-start-2 leading-relaxed"
				data-aos="fade-up"
				data-aos-duration="2000"
			>
				I'm an undergrad and occasional music producer who likes creating 
				interactive projects in and out of school. 
				This holiday, I have been working on showcasing my past work with this website. 
				Also been busy with my projection-mapping project.
			</p>
			<p
				class="text-base lg:col-start-2 leading-relaxed font-bold"
				data-aos="fade-up"
				data-aos-duration="2500"
			>
				I'm currently available for an 8-month internship starting in May 2025. 
				If you're looking for someone with a broad engineering skillset (mechanical,
				electrical and computer), reach out! <a
					class="underline underline-offset-4"
					href="mailto:amjadclnyaghi@gmail.com">amjadclnyaghi@gmail.com</a
				>
			</p>
			<p
				class="text-base lg:col-start-4 leading-relaxed"
				data-aos="fade-up"
				data-aos-duration="2500"
			>
				As a fourth-year <a 
				class="underline underline-offset-4"
				href="https://you.ubc.ca/ubc_programs/engineering-physics/">engineering physics student</a
			>	I'm sweet with a tall tech-stack. With this website, I'm adding Astro and Tailwind CSS.
			</p>
			<p
				class="text-base lg:col-start-4 leading-relaxed"
				data-aos="fade-up"
				data-aos-duration="3000"
			>
				I just wanna make cool stuff :)
			</p>
		</div>
	</div>
</section>
