<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-1 leading-relaxed font-light italic"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Last updated: November 26th, 2025
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm an undergraduate and amateur music producer who likes creating
        interactive projects in and out of school. Right now, I'm working on building an 
        autonomous badminton robot for my capstone project!
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed font-bold"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I'm available for a 4-month internship starting in Summer 2026.
        If you're looking for someone with a broad engineering skill set
        (mechanical, electrical and computer), reach out! <a
          class="underline underline-offset-4"
          href="mailto:amjadclnyaghi@gmail.com">amjadclnyaghi@gmail.com</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a fourth-year <a
          class="underline underline-offset-4"
          href="https://you.ubc.ca/ubc_programs/engineering-physics/"
          >engineering physics student</a
        > I've acquired hands-on experience with many different tools. Feel free to click around (below) for more details!
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        I like building things.
      </p>
    </div>
  </div>
</section>